apiVersion: v1
kind: Secret
metadata:
  name: confluent-secret
  namespace: ${DEBEZIUM_NAMESPACE}
type: Opaque
stringData:
  BOOTSTRAP_SERVERS: ${DEBEZIUM_BOOTSTRAP_SERVERS}
  API_KEY: ${DEBEZIUM_API_KEY}
  API_SECRET: ${DEBEZIUM_API_SECRET}
