apiVersion: v1
kind: Secret
metadata:
  name: confluent-secret
  namespace: ${DEBEZIUM_NAMESPACE}
type: Opaque
stringData:
  BOOTSTRAP_SERVERS: ${DEBEZIUM_BOOTSTRAP_SERVERS}
  API_KEY: ${DEBEZIUM_API_KEY}
  API_SECRET: ${DEBEZIUM_API_SECRET}
  SCHEMA_REGISTRY_URL: ${DEBEZIUM_SCHEMA_REGISTRY_URL}
  SCHEMA_REGISTRY_KEY: ${DEBEZIUM_SCHEMA_REGISTRY_KEY}
  SCHEMA_REGISTRY_SECRET: ${DEBEZIUM_SCHEMA_REGISTRY_SECRET}
