apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: ${DEBEZIUM_NAMESPACE}
type: Opaque
stringData:
  DB_USER: ${DEBEZIUM_DATABASE_USER}
  DB_PASSWORD: ${DEBEZIUM_DATABASE_PASSWORD}
